.title:before {      /*Places another word before the tag*/
    content: "GANAPATHY";
    color: #ffffff;
    font-family: 'Abril Fatface', sans-serif;
}

.title2:before {      /*Places another word before the tag*/
    content: "KARTHIKEYAN R";
    color: #ffffff;
    font-family: 'Abril Fatface', sans-serif;
}

.title, .title2{
    position: relative;
    color: #0095ff;
}

.title:before, .title2:before, title.after, .title2.after{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: -webkit-clip-path 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: clip-path 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: clip-path 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-clip-path 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.main .title:before, .main .title2:before{
    -webkit-clip-path: polygon(0 0, 0 0, -50px 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, -50px 100%, 0 100%);
}

.main .title:hover:before, .main .title2:hover:before{
    -webkit-clip-path: polygon(0 0, calc(100% + 50px) 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% + 50px) 0, 100% 100%, 0 100%);
}